body {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr 1fr;
  grid-template-rows: max-content max-content;
}

img {
  max-height: 40px;
  margin: 100% 10px;
}

nav {
  display: flex;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  height: 50px;
  align-items: center;
}

input {
  width: 100%;
}

aside,
main {
  display: flex;
  grid-row: 2 / span max-content;
}

.left-bar {
  background-color: lightgray;
  display: inline;
}
main {
  background-color: chartreuse;
}
.right-bar {
  display: block;
  background-color: aqua;
}

.super-right {
  background-color: darkorchid;
  color: white;
}

button {
  height: 50px;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 5px;
  width: 100%;
}

main ul {
  margin-left: 0;
}

li {
  margin: 10px;
  margin-left: 0;
}

.outlined {
  border: 2px;
  border-color: black;
  border-style: solid;
  margin-left: 1px;
  margin-top: 10px;
  padding-left: 2px;
}

.mail-item {
  display: flex;
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 0;
  height: 27px;
  width: 100%;
  align-items: center;
}

input[type="radio"] {
  width: 20px;
}

p {
  margin-top: 10px;
}
